# exclude database
database/data/*
!database/data/placeholder

# exclude node.js modules and generated package file
frontend/node_modules/
frontend/package-lock.json

# exclude python compiled code
*.pyc

# exclude MobaXTerm dump
*ssh.exe.stackdump
